.switch {
    width: 37.05px;
    height: 18.2px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #DCDFE6;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    user-select: none;
    outline: none;
}
.switch::before {
    content: '';
    position: absolute;
    width: 14.3px;
    height: 14.3px;
    background-color: #FFFFFF;
    border-radius: 50%;
    left: 1.3px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: .3s;
}
.switch:checked {
    background-color: #409EFF;
    transition: .6s;
}
.switch:checked::before {
    left: 18.5px;
    transition: .3s;
}