body, html {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

#main-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#axis-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}
#control-wrap{
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    background-color: rgb(244, 241, 237);
}
#line-wrap{
    display: flex;
    align-items: center;
    width: 100%;
}
.switch{
    margin-left: 50px
}
.switch-span{
    letter-spacing: 2px;
    width: 40px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: #409EFF;
    margin-left: 20px;
}

